  *,
*::before,
*::after{
  margin: 0;
  padding: 0;
}
html{
  font-size: 10px;
  font-family: 'SF Pro Display',sans-serif;
}
.a1{
  display: block;
  text-decoration: none;
}
.container{
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 2.2rem;
}
/*header*/
header{
  position: fixed;
  top:0;
  z-index: 1400;
  width: 100%;
  height: 4.4rem;
  background-color: rgba(0,0,0,.8);
  backdrop-filter: blur(2rem);
}

/*iphone 11 pro section */
.iphone-11-pro{
  background: url("Untitled\ design\ \(2\).png");
  margin-top: 4.4rem;

}

.title{
  color:#fff;
  text-align: center;
  padding-top: 5.5rem;
}

.title-heading{
  font-size: 5.6rem;
  line-height: 1.07143;
  letter-spacing: -.005rem;
}
.title-sub-heading{
  font-size: 2.65rem;
  margin-top: .6rem;
  letter-spacing: .008rem;
  font-weight: 400;
}
.title-price{
  font-size: 1.7rem;
  color: #888;
  margin-top: .68rem;
}
.cta{
  text-align: center;
  margin-top: 1.8rem;
}
.cta-link{
  color: #66bbff;
  font-size: 2.1rem;
  display: inline-block;
}
.cta-link:nth-child(2){
  margin-left: 2.6rem;
}
.cta-link:hover{
  border-bottom:2px solid #66bbff;
}
/*iphone 11 section */
.iphone-11{
  background: url("123.png");
}
.title-dark{
  color:#000;
}
.cta-link-darker{
  color:#0070c9;
}
.cta-link-darker:hover{
  border-bottom-color:#0070c9;
}
.watch{
  background: url("https://i.postimg.cc/gJ5CR0Mg/watch-large.jpg");
}
.title-heading-watch{
  height: 7.8rem;
  background: url("https://i.postimg.cc/LXfTC69C/logo-watch-large.png") center no-repeat;
  background-size: auto 7.8rem;
  margin-top: 1.6rem;
}

/*moved to the bottom of all section styles to keep consistent styles*/

.hero{
  height: 69.2rem;
  background-size: auto 73.6rem;
  background-position: center;
  background-repeat: no-repeat;
  border-top: .6rem solid #fff;
  border-bottom: .6rem solid #fff;
}


.iphone-11-pro{
  border-top: none;
}
/*end*/
@media screen and (max-width:1068px){
  .iphone-11-pro{
      background: url("123.png");
  }
  .iphone-11{
      background: url("Modern\ app\ user\ interface\ laptop\ mock\ instagram\ post\ \(portrait\)\ \(1450\ x\ 1080\ px\)\ \(1\).png");
  }
  .watch{
      background: url("Pink\ and\ Purple\ Illustrative\ Gaming\ Streaming\ Banner\ \(4\).png");
  }
  .hero{
      height: 65rem;
      background-size: auto 69.8rem;
      background-position: bottom center;
      background-repeat: no-repeat;
  }
  .title-heading{
      font-size: 4.4rem;
  }
  .title-sub-heading{
      font-size: 2.4rem;
  }
  .cta-link:nth-child(2){
      margin-left: 2rem;
  }
  .title-heading-watch{
      height: 6.2rem;
      background: url("https://i.postimg.cc/Zqs2tRhJ/logo-watch-medium.png") center no-repeat;
      background-size: auto 6.2rem;
  }
}

@media screen and (max-width:767px){
  header{
      height: 4.8rem;
      transition: background .36s cubic-bezier(0.23,0.08,0.24,1),
      height .56s cubic-bezier(0.23,0.08,0.24,1);
  }
  header .container{
      padding: 0;
  }
  .iphone-11-pro{
      margin-top: 4.8rem;
  }


  .line{
      position: absolute;
      width: 1.7rem;
      height: 1px;
      background-color: #fff;
      transition: margin-top .3192s cubic-bezier(0.04,0.04,0.12,0.96);
  }
  .line-top{
      margin-top:3px;
  }
  .line-bottom{
      margin-top:-.4rem
  }
  .active .line-top{
      margin-top:0;
      transform: rotate(45deg);
      transition: transform .3192s .1s cubic-bezier(0.04,0.04,0.12,0.96) ;
  }
  .active .line-bottom{
      margin-top:0;
      transform: rotate(-45deg);
      transition: transform .3192s .1s cubic-bezier(0.04,0.04,0.12,0.96) ;
  }
  header .active{
      height: 100%;
      background-color: #000;
  }

  @keyframes fadeIn{
      from{
          opacity:0;
      }
      to{
          opacity: 1;
      }
  }
  
}
@media screen and (max-width:735px){
  .iphone-11-pro{
      background: url("1\ \(1\).png");
  }
  .iphone-11{
      background: url("Untitled\ design\ \(6\).png");
  }
  .watch{
      background: url("Pink\ and\ Purple\ Illustrative\ Gaming\ Streaming\ Banner\ \(4\).png");
  }
  .hero{
      height: 50rem;
      background-size: auto 54.8rem;
      background-position: bottom center;
      background-repeat: no-repeat;
  }
  .title{
      padding: 3.7rem;
  }
  .title-heading{
      font-size: 3.2rem;
  }
  .title-sub-heading{
      font-size: 1.9rem;
  }
  .title-heading-watch{
      margin-top: -.5rem;
      margin-bottom: 0;
  }
  .title-price{
      font-size: 1.4rem;
  }
  .cta{
      margin-top: .7rem;
  }
  .cta-link{
      font-size: 1.9rem;
  }
}
.carousel-caption h5,
.carousel-caption p {
  font-size: 2rem; /* Adjust the font size as needed */
}







.header {
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden; /* Prevent video overflow */
}

/* Set the dimensions and position of the video element */
.header video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Place the video behind other content */
}

/* Rest of your CSS styles for the header, inner-header, etc. */


.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}
















        /* Styling for the parallax container with the class "parallax1-container" */
        .parallax1-container {
            position: relative;
            height: 70vh;
            background-image: url('https://cdn.pixabay.com/photo/2011/12/13/14/30/earth-11014_1280.jpg');
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        /* Styling for the black shade overlay */
        .parallax1-container::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7); /* Black with 50% transparency */
        }

        /* Styling for the text on top of the parallax */
        .parallax-text {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            font-size: 24px;
        }

        /* Styling for the logo image to make it responsive */
        .parallax-text img {
            max-width: 100%;
            height: auto;
        }
        @media (max-width: 768px) {

            .parallax1-container {
                position: relative;
                height: 90vh;}

        }