/* style.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --dark-grey: #333333;
  --medium-grey: #636363;
  --light-grey: #eeeeee;
  --ash: #f4f4f4;
  --primary-color: #2b72fb;
  --white: white;
  --border: 1px solid var(--light-grey);
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

body {
  font-family: inherit;
  background-color: var(--white);
  color: var(--dark-grey);
  letter-spacing: -0.4px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

.btn {
  display: block;
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
  padding: 0.6rem 1.4rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
}

.icon {
  padding: 0.5rem;
  background-color: var(--light-grey);
  border-radius: 10px;
}

.logo {
  margin-right: 1.5rem;
}

#nav-menu {
  border-bottom: var(--border);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;
  height: 90px;
  padding: 1.2rem 3rem;
}

.menu {
  position: relative;
  background: var(--white);
}

.menu-bar li:first-child .dropdown {
  flex-direction: initial;
  min-width: 480px;
}

.menu-bar li:first-child ul:nth-child(1) {
  border-right: var(--border);
}

.menu-bar li:nth-child(n + 2) ul:nth-child(1) {
  border-bottom: var(--border);
}

.menu-bar .dropdown-link-title {
  font-weight: 600;
}

.menu-bar .nav-link {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.6px;
  padding: 0.3rem;
  min-width: 60px;
  margin: 0 0.6rem;
}

.menu-bar .nav-link:hover,
.dropdown-link:hover {
  color: var(--primary-color);
}

.nav-start,
.nav-end,
.menu-bar,
.right-container,
.right-container .search {
  display: flex;
  align-items: center;
}

.dropdown {
  display: flex;
  flex-direction: column;
  min-width: 230px;
  background-color: var(--white);
  border-radius: 10px;
  position: absolute;
  top: 36px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.97) translateX(-5px);
  transition: 0.1s ease-in-out;
  box-shadow: var(--shadow);
}

.dropdown.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1) translateX(5px);
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.2rem;
  font-size: 0.95rem;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.15rem;
}

.dropdown-link {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0;
  border-radius: 7px;
  transition: 0.1s ease-in-out;
}

.dropdown-link p {
  font-size: 0.8rem;
  color: var(--medium-grey);
}

.right-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.right-container .search {
  position: relative;
}

.right-container img {
  border-radius: 50%;
}

.search input {
  background-color: var(--ash);
  border: none;
  border-radius: 6px;
  padding: 0.7rem;
  padding-left: 2.4rem;
  font-size: 16px;
  width: 100%;
  border: var(--border);
}

.search .bx-search {
  position: absolute;
  left: 10px;
  top: 50%;
  font-size: 1.3rem;
  transform: translateY(-50%);
  opacity: 0.6;
}

#hamburger {
  display: none;
  padding: 0.1rem;
  margin-left: 1rem;
  font-size: 1.9rem;
}

@media (max-width: 1100px) {
  #hamburger {
    display: block;
  }

  .container {
    padding: 1.2rem;
  }

  .menu {
    display: none;
    position: absolute;
    top: 87px;
    left: 0;
    min-height: 100vh;
    width: 100vw;
  }

  .menu-bar li:first-child ul:nth-child(1) {
    border-right: none;
    border-bottom: var(--border);
  }

  .dropdown {
    display: none;
    min-width: 100%;
    border: none !important;
    border-radius: 5px;
    position: static;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    transform: none;
    box-shadow: none;
  }

  .menu.show,
  .dropdown.active {
    display: block;
  }

  .dropdown ul {
    padding-left: 0.3rem;
  }

  .menu-bar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 1rem;
    padding: 1rem;
  }

  .menu-bar .nav-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
  }

  .menu-bar li:first-child .dropdown {
    min-width: 100%;
  }

  .menu-bar > li:not(:last-child) {
    padding-bottom: 0.5rem;
    border-bottom: var(--border);
  }
}

@media (max-width: 600px) {
  .right-container {
    display: none;
  }
}




.hero-section {
    position: relative;
    width: 100%;
    height: 75vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('https://images.unsplash.com/photo-1516972810927-80185027ca84') no-repeat center center/cover;
    }
    
    .hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(0,0,0,0.6), rgba(0,0,0,0.8));
    z-index: 1;
    }
    
    .hero-content {
    position: relative;
    z-index: 2;
    color: #ffffff;
    }
    
    .hero-title {
    font-size: 4.5em;
    margin-bottom: 0.8em;
    letter-spacing: 3px;
    animation: fadeInDown 1s ease-out;
    }
    
    .hero-subtitle {
    font-size: 2em;
    margin-bottom: 1.5em;
    animation: fadeInUp 1s ease-out;
    }
    
    .hero-button {
    padding: 1em 2.5em;
    font-size: 1.3em;
    background-color: #8329d9;
    color: #ffffff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    animation: bounceIn 1s ease-out;
    box-shadow: 0 8px 16px rgba(0, 123, 255, 0.2);
    }
    
    .hero-button:hover {
    background-color: #ce2cda;
    transform: scale(1.08);
    box-shadow: 0 10px 20px rgba(0, 123, 255, 0.3);
    }
    
    @media screen and (max-width: 768px) {
    
    
    .hero-title {
    font-size: 4.5em;
    margin-bottom: 0.8em;
    letter-spacing: 3px;
    animation: fadeInDown 1s ease-out;
    }
    
    .hero-subtitle {
    font-size: 1.5em;
    max-width: 5px;
    
    }
    
    }
    



    .uk-section {
        background-color: #ffffff;
        padding: 40px 0;
    }
    .owl-carousel {
        position: relative;
        margin-top: 30px;
    }
    .owl-nav {
        position: absolute;
        top: -60px;
        left: 10px;
    }
    .uk-card {
        background-color: #ffffff;
    
        color: #000000;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        transition: transform 0.3s;
    }
    .uk-card:hover {
        transform: scale(1.05);
    }
    .uk-card-title {
        padding: 10px 20px;
        margin-top: 0;
        font-size: 18px;
    }
    .uk-card-body {
        padding: 0 20px 20px;
    }
    .uk-card img {
        width: 100%;

    }
    .uk-card > :last-child {
        margin-top: 0;
        margin-bottom: 10px;
    }
    p {
        margin-top: 10px;
        margin-bottom: 0;
    }
    .owl-next {
        background: #3286f0;
    }
    .owl-theme .owl-nav [class*='owl-'] {
        background: #383838;
        color: #fff;
    
        padding: 10px;
        margin: 5px;
    }
    .owl-dots {
        margin-top: 30px;
    }











    





        .unique-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
            padding: 20px;
            max-width: 1200px;
            margin: auto;
        }
        .unique-image-section {
            flex: 1;
            text-align: center;
        }
        .unique-image-section img {
            width: 100%;
            max-width: 500px;
        }
        .unique-text-section {
            flex: 1;
            max-width: 500px;
            padding: 20px;
        }
        .unique-text-section h1 {
            font-size: 2rem;
            margin-bottom: 20px;
        }
        .unique-text-section p {
            font-size: 1rem;
            margin-bottom: 20px;
        }
        .unique-button {
            background-color: #af4cac;
            color: #ffffff;
            padding: 10px 20px;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            cursor: pointer;
        }
        .unique-button:hover {
            background-color: #ce2cda;
        }
        @media (max-width: 768px) {
            .unique-container {
                flex-direction: column;
                align-items: center;
            }
            .unique-text-section {
                text-align: center;
            }
        }









        




        
        .containerfer {
          display: flex;
          flex-wrap: wrap;
          margin: 0;
      }
      .sectionfer {
          position: relative;
          flex: 1 1 50%;
          margin: 0;
          height: 400px; /* Increased height */
          overflow: hidden;
      }
      .sectionfer img {
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
      .overlayfer {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.5);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          color: white;
          text-align: center;
          padding: 20px;
      }
      .overlayfer h2 {
          margin: 0;
          font-size: 1.5em;
      }
      .overlayfer p {
          margin: 10px 0;
          font-size: 1em;
      }
      .overlayfer a {
          text-decoration: none;
          color: white;
          padding: 10px 20px;
          border: 1px solid white;
          margin-top: 10px;
          font-size: 1em;
          transition: background 0.3s;
      }
      .overlayfer a:hover {
          background: white;
          color: black;
      }
      @media (max-width: 768px) {
          .sectionfer {
              flex: 1 1 100%;
              height: 300px; /* Adjust height for smaller screens */
          }
      }






      .iphone-section {
          position: relative;
          width: 100%;
          height: 70vh; /* Decreased height */
          background-image: url('https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); /* Replace with the correct path to your image */
          background-size: cover;
          background-position: center;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          overflow: hidden;
          color: white;
      }
      
      .iphone-section::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
          z-index: 1;
      }
      
      .content {
          position: relative;
          z-index: 2;
          padding: 20px;
          border-radius: 10px;
      }
      
      .content h1 {
          font-size: 2.5em; /* Adjusted font size for responsiveness */
          margin-bottom: 10px;
      }
      
      .content p {
          font-size: 1em; /* Adjusted font size for responsiveness */
          margin-bottom: 20px;
      }
      
      .buttons .btn {
          display: inline-block;
          padding: 10px 20px;
          margin: 0 10px;
          text-decoration: none;
          color: black;
          background-color: white;
          border-radius: 5px;
          font-weight: bold;
          transition: background-color 0.3s ease;
      }
      
      .buttons .btn:hover {
          background-color: #ddd;
      }
      
      /* Responsive adjustments */
      @media (max-width: 768px) {
          .content h1 {
              font-size: 2em;
          }
      
          .content p {
              font-size: 0.9em;
          }
      
          .buttons .btn {
              padding: 8px 16px;
              margin: 0 5px;
          }
      }
      
      @media (max-width: 480px) {
          .content h1 {
              font-size: 1.5em;
          }
      
          .content p {
              font-size: 0.8em;
          }
      
          .buttons .btn {
              padding: 6px 12px;
              margin: 0 3px;
          }
      }



      

      .service-box img {
        width: 100%;
        height: auto;
    }
    .service-box h3 {
        margin: 16px 0 8px;
    }
    .service-box p {
        margin-bottom: 16px;
    }
    .service-box a {
        color: #af4cac;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s ease;
    }
    .service-box a:hover {
        color: #af4cac;
    }
    @media (max-width: 600px) {
        .service-box {
            margin-bottom:60px;
        }
    }




    .curations {
      text-align: center;
      padding: 50px 20px;
  }
  
  .curations h2 {
      font-size: 2rem;
      margin-bottom: 20px;
  }
  
  .curations-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
  
  .curation-item {
      width: 100px;
      margin: 10px;
      text-align: center;
  }
  
  .curation-item img {
      width: 100%;
      border-radius: 50%;
  }
  
  .curation-item p {
      margin-top: 10px;
      font-size: 1rem;
  }
  
  @media (min-width: 600px) {
      .curation-item {
          width: 120px;
      }
  }
  
  @media (min-width: 900px) {
      .curation-item {
          width: 150px;
      }
  }
  




  
  .footer {
    background: linear-gradient(to right, #ff007f, #0033ff);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.footer-logo {
    width: 200px; /* Adjust the size as needed */
    height: auto;
}
@media (max-width: 600px) {
    .footer {
        height: 80px;
        padding: 10px;
    }
    .footer-logo {
        width: 100px; /* Adjust the size for smaller screens */
    }
}







.stellxr-wrapper {
  margin: 20px;
}
.stellxr-heading {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}
.stellxr-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px; /* Added to create consistent spacing */
}
.stellxr-card {
  flex: 1 1 21%; /* Adjust to change number of cards per row */
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* Ensure background color for cards */
}
.stellxr-card img {
  width: 100%;
  height: auto;
}
.stellxr-card-content {
  padding: 20px;
}
.stellxr-card h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}
.stellxr-card p {
  font-size: 0.9em;
  margin-bottom: 20px;
  line-height: 1.5; /* Adjusted line-height for better readability */
}
.stellxr-card a {
  text-decoration: none;
  color: #fff;
  background-color: #0078d4;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
}
.stellxr-card a:hover {
  background-color: #005a9e;
}
@media (max-width: 1200px) {
  .stellxr-card {
      flex: 1 1 45%; /* Two cards per row */
  }
}
@media (max-width: 768px) {
  .stellxr-card {
      flex: 1 1 100%; /* One card per row */
  }
}



















.unique2-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  max-width: 1200px;
  margin: auto;
  background-color: #ffffff; /* Light gray background for a soft contrast */
  border-radius: 10px;
}
.unique2-image-section {
  flex: 1;
  text-align: center;
  margin-right: 20px;
}
.unique2-image-section img {
  width: 100%;
  max-width: 550px;
  border-radius: 8px;
}
.unique2-text-section {
  flex: 1;
  max-width: 550px;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
}
.unique2-text-section h1 {
  font-size: 2.8rem;
  margin-bottom: 20px;
  color: #222;
  font-weight: 700;
}
.unique2-text-section p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #444;
  line-height: 1.6;
}
.unique2-button {
  background-color: #3d3d7d;
  color: #ffffff;
  padding: 12px 30px;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  transition: none; /* No hover effects */
}
@media (max-width: 768px) {
  .unique2-container {
      flex-direction: column;
      align-items: center;
  }
  .unique2-image-section {
      margin-right: 0;
      margin-bottom: 20px;
  }
  .unique2-text-section {
      text-align: center;
  }
  .unique2-text-section h1 {
      font-size: 2.2rem;
  }
  .unique2-button {
      padding: 10px 25px;
  }
}
